<ion-view view-title="Account">
    <ion-content>
        <ion-list>
            <ion-item class="item-toggle">
                Enable Friends
                <label class="toggle">
                    <input type="checkbox" ng-model="settings.enableFriends">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
            <ion-item class="item-toggle">
                Enable Capture
                <label class="toggle">
                    <input type="checkbox" ng-model="settings.enableCapture">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
            <ion-item class="item-toggle">
                Enable Take Picture
                <label class="toggle">
                    <input type="checkbox" ng-model="settings.enableTakePicture">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
        </ion-list>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        <div class="row" ng-if="settings.enableCapture">
            <div class="col">
                <button class="button button-positive" ng-click="captureAudio()">Capture Audio</button>
                <button class="button button-calm" ng-click="captureImage()">Capture Image</button>
                <button class="button button-energized" ng-click="captureVideo()">Capture Video</button>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-if="settings.enableTakePicture">
        <button class="button" ng-click="takePicture()">Take Picture</button>
    </div>
</ion-view>
